@import "../scss/_variables.scss";
@import "../scss/_mixin.scss";
.swiper-container {
  overflow: hidden;
  width: 100%;

  position: relative;

  @include mobile {
    // display: none;
  }
}
.swiper-wrapper {
  display: flex;
  position: absolute;
}

.box-artists-sliders {
  padding: 0 30px;

  cursor: pointer;
}
.box-artists {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  @include flex(center, space-around);
  margin-top: 100px;
  background-color: black;
  gap: 20px;
}
.artists-info {
  display: flex;
  flex-direction: column;
  @include widthHeight(350px, 150px);
  @include mobile {
    width: 200px;
  }

  &__name {
    font-size: $font-size-first + 30;
    color: $text-color;
    font-weight: $font-weight;

    @include mobile {
      font-size: 24px;
    }
  }

  &__desc {
    font-size: $font-size-first;
    color: $text-second-color;
    font-weight: $font-weight;
  }

  &__btn {
    display: flex;
    font-size: $font-size-second;
    gap: 12px;
    margin-top: 30px;

    &--play {
      @include flex(center, center);
      @include widthHeight(80px, 33px);
      background-color: $text-color;
      border-radius: $border-radius + 20;
      color: $body-bg-second;
    }
    &--follow {
      @include flex(center, center);
      @include widthHeight(90px, 33px);
      border: 2px solid $text-color;
      border-radius: $border-radius + 20;
    }
  }
}
.artists-image {
  @include widthHeight(440px, 290px);
  @include mobile {
    @include widthHeight(210px, 110px);
  }

  img {
    @include widthHeight(100%, 100%);
    object-fit: contain;
  }
}
