@import "../scss/_variables.scss";
@import "../scss/_mixin.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;700&display=swap");
.swiper-container {
  overflow: hidden;
  width: 100%;

  position: relative;

  @include mobile {
    // display: none;
  }
}
.swiper-wrapper {
  display: flex;
  position: absolute;
}

.box-artists-sliders,
.box-introduce-sliders {
  padding: 0 30px;
  cursor: pointer;
  margin-bottom: 25px;
}
.box-artists,
.box-introduce {
  border-radius: 20px;
  width: 100%;
  height: 300px;
  @include flex(center, space-around);
  margin-top: 100px;
  background-color: black;
  gap: 20px;
  position: relative;

  @include mobileSpecific(540px) {
    height: 200px;
  }

  &.box-1 {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  }
  &.box-2 {
    background-image: linear-gradient(120deg, #b9d775 0%, #40dd55 100%);
  }
  &.box-3 {
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
  }
  &.box-n {
    background-image: linear-gradient(120deg, #252527 0%, #140102 100%);
  }

  &__detail {
    gap: 5px;
    padding: 0 30px;
    @include widthHeight(100%, 100%);
    display: flex;
    position: absolute;
    align-items: center;
  }
}
.artists-info,
.introduce-info {
  display: flex;
  flex-direction: column;
  @include widthHeight(350px, 150px);
  @include mobile {
    width: 200px;
  }

  &__name,
  &__title {
    font-family: "Noto Sans JP", sans-serif;
    text-transform: capitalize;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;

    @include mobile {
      font-size: 24px;
    }
  }

  &__desc {
    font-size: 20px;
    color: #ffffff;
  }

  &__btn {
    display: flex;
    font-size: $font-size-second;
    gap: 12px;
    margin-top: 30px;

    &--play {
      @include flex(center, center);
      @include widthHeight(80px, 33px);
      background-color: $text-color;
      border-radius: $border-radius + 20;
      color: $body-bg-second;
    }
    &--follow {
      @include flex(center, center);
      @include widthHeight(90px, 33px);
      border: 2px solid $text-color;
      border-radius: $border-radius + 20;
    }
  }
}
.introduce-info {
  @include widthHeight(unset, unset);
}
.artists-image {
  @include widthHeight(440px, 290px);
  @include mobile {
    @include widthHeight(210px, 110px);
  }

  img {
    @include widthHeight(100%, 100%);
    object-fit: contain;
  }
}

.introduce-image {
  @include mobile {
    display: none;
  }
  height: 100%;
  width: 50%;

  img {
    @include widthHeight(100%, 100%);
    object-fit: contain;
  }
}
