@import "../scss/_variables.scss";
@import "../scss/_mixin.scss";
.ms-footer {
  position: relative;
  left: 80px;
  width: calc(100% - 80px);
  height: 300px;

  padding: 0 30px;
  display: flex;

  @include mobile {
    width: 100%;
    left: 0;
    height: unset;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: unset;
    margin-bottom: 100px;
  }

  .about {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    gap: 50px;
    align-items: flex-start;

    &-column {
      color: $text-color;

      padding: 10px;

      display: flex;
      flex-direction: column;
      gap: 10px;

      &__title {
        font-weight: bold;
        text-transform: uppercase;
      }

      &__contents {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
    }
  }

  .social {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1;

    gap: 15px;
    @include tablet {
      justify-content: flex-end;
    }
    @include mobile {
      justify-content: center;
    }

    &-btn {
      @include widthHeight(50px, 50px);
      background-color: #222326;
      border-radius: 50%;
      @include flex(center, center);
      font-size: 25px;
      color: #ffffff;

      &:hover {
        color: $main-color;
      }
    }
  }
}
