@import "../scss/_variables.scss";
@import "../scss/_mixin.scss";
$field-container-padding: 5px;
$label-padding: $field-container-padding !default;

.modal-opacity {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(2, 0, 0, 0.445);
  z-index: 9999999;
}
.box-modal {
  box-shadow: 1px 3px 4px 1px $text-color;
  @include widthHeight(100%, 600px);
  max-width: 350px;
  max-height: calc(100% - 20px);
  background-color: #fff;
  @include center;
  border-radius: 30px;
  overflow: hidden;
  position: absolute;
}
.modal__header {
  padding: 0 20px;
  color: black;
  font-weight: $font-weight;
  position: absolute;
  height: 70px;
  width: 100%;
  object-fit: cover;
  @include flex(center, space-between);

  &--title {
    font-family: "Indie Flower", cursive;
    font-size: 30px;
  }

  &--icon {
    cursor: pointer;
  }
}
.modal__body {
  width: 90%;
  position: absolute;
  @include center;
  @include flex(center, center);
  flex-direction: column;

  &--info {
    @include flex(center, center);
    flex-direction: column;
    width: 100%;
    .info--avatar {
      overflow: hidden;
      @include widthHeight(60px, 60px);
      border-radius: 50%;
      img {
        object-fit: cover;
        @include widthHeight(100%, 100%);
      }
    }
  }

  &--button {
    margin-top: 10px;
    @include widthHeight(100%, 50px);
    background-color: #c9284d;
    @include flex(center, center);
    cursor: pointer;
    font-size: $font-size-first;
    box-shadow: 2px 2px 2px 2px #d3d1d1;

    &:hover {
      opacity: 0.95;
    }
  }

  &--message {
    margin-top: 5px;
    @include flex(center, center);
    flex-direction: column;
    font-size: $font-size-first;
    font-weight: $font-weight;

    .message--error {
      display: none;
      color: red;
    }
    .message--info {
      color: blue;
    }
  }

  &--input {
    position: relative;
    margin-top: 10px;
    @include widthHeight(100%, 40px);
    input,
    select {
      font-size: $font-size-first;
      @include widthHeight(100%, 100%);
      color: #130d21;
      border-color: #6121ac;
      border-radius: 4px;
      font-weight: 700;
      padding: 5px 30px 5px 5px;
      box-shadow: 2px 2px 2px 2px #ccc;

      &:focus {
        outline: none;
      }
    }

    .input-select {
      @include widthHeight(100%, 100%);
      box-shadow: 2px 2px 2px 2px #ccc;
      border: 1px solid #6121ac;
      border-radius: 4px;

      &__body {
        @include widthHeight(100%, 100%);
        padding: 10px;
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        overflow-y: auto;

        &--tag {
          cursor: pointer;
          @include widthHeight(auto, 20px);
          padding: 5px;
          font-size: $font-size-second;
          border-radius: 20px;
          border: 1px solid black;
          @include flex(center, center);
          color: black;
          transition: all 0.2s linear;
          box-shadow: 2px 2px 2px 2px #d9c8c8;
          position: relative;

          &.selected {
            border-color: red;

            &::after {
              display: flex;
              color: white;
              width: 15px;
              content: ">";
              position: absolute;
              height: 15px;
              right: -4px;
              background-color: #77d777;
              border-radius: 50%;
              justify-content: center;
              align-items: center;
              transform: rotate(122deg);
              top: -7px;
            }
          }
        }
      }
    }
  }
}
.field-container {
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  border: 2px solid #6121ac;
  height: 40px;
  width: 100%;
  padding-left: 5px;
  font-weight: 700;
  margin: 5px 0;
}

.field-placeholder {
  position: absolute;
  top: 50%;
  transform: translate(#{$label-padding}, -50%);
  pointer-events: none;
  transition: all 0.14s ease-in-out;
  font-size: $font-size-first;
  color: #adadad;
}

input.field-input {
  font-weight: 700;
  color: #130d21;
  border: none;
  padding: $label-padding;
  margin-top: 5px;
  font-size: $font-size-first;
  display: block;
  box-sizing: border-box;
  width: 100%;
  bottom: 0px;
  &:focus {
    outline: none;
  }
  &.c-fix,
  &:focus,
  &:not(:placeholder-shown) {
    border-color: transparent;
    ~ label {
      color: #646669;
      font-size: 11px;
      //Come up with a calculation for this
      top: calc(30% - 0.5rem);
      transform: translate(#{$label-padding}, 0%);
    }
  }

  &::-webkit-input-placeholder {
    color: transparent;
  }
  &::-moz-placeholder {
    color: transparent;
  }
  &:-ms-input-placeholder {
    color: transparent;
  }
}
.password-option {
  bottom: -10px;
  right: 7px;
  height: 100%;
  position: absolute;
  color: black;
  cursor: pointer;
}
.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.input-file {
  margin: 0 auto;
  width: 50px;
  height: 50px;
  position: relative;

  input[type="file"] {
    display: none;
  }

  .icon-upload {
    color: #ccc;
    font-size: 3rem;
    pointer-events: none;
  }

  .input-label {
    color: black;
    font-size: 30px;
    font-weight: $font-weight;
    border-radius: 8px;
    border: 1px dotted #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    cursor: pointer;
  }

  .file_name {
    font-size: $font-size-second;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 13px);
    max-width: 350px;
    @include threeDots;
    padding: 0 20px;
  }
}
