@import "../scss/_variables.scss";
@import "../scss/_mixin.scss";

.box-playlists {
  display: flex;
  flex-direction: column;

  gap: 20px;
  align-items: flex-end;
  flex: 1;

  &__scroll {
    max-height: 300px;
    overflow-y: auto;
  }

  &__items {
    display: grid;
    grid-template-columns: 290px 290px;
    grid-template-rows: 115px 115px;
    gap: 15px;

    @include mobile {
      grid-template-columns: 170px 170px;
      grid-template-rows: 50px 50px;
    }
  }
}

.box-title {
  color: $text-color;
  font-size: 24px;
  font-weight: $font-weight;
}

.playlists-item {
  @include widthHeight(290px, 115px);
  box-shadow: 2px 2px 4px 5px #d3d3d3;
  border-radius: $border-radius;
  background-color: #fff;
  overflow: hidden;
  position: relative;

  @include mobile {
    @include widthHeight(170px, 50px);
  }

  img {
    @include widthHeight(100%, 100%);
    object-fit: cover;
  }

  &__title {
    @include threeDots;
    position: absolute;
    color: #f3f3f3;
    font-size: $font-size-first;
    font-weight: $font-weight;
    left: 0;
    bottom: 0;
    margin: 18px;
  }
}
