@import "../scss/_variables.scss";
@import "../scss/_mixin.scss";
.box-search {
  padding: 0 30px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  &__input {
    margin-top: 50px;
    font-size: 3rem;
    width: 100%;

    input[type="text"] {
      border: 0;
      outline: none;
      background-color: inherit;
      font-size: inherit;
      width: 100%;
      color: $text-color;
      border-bottom: 2px solid #bbb6b6;
      text-decoration: none;
    }
  }

  &__result {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &--header {
      display: flex;
      gap: 20px;
      text-transform: uppercase;
      font-weight: 600;
      border-bottom: 2px solid #bbb6b6;

      .header-title {
        cursor: pointer;

        &.active {
          border-bottom: 2px solid;
        }
      }
    }
    &--contents {
      display: flex;
      flex-direction: column;

      .contents__result {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
      }
    }
  }
}
