@import "../scss/_variables.scss";
@import "../scss/_mixin.scss";
.box-search {
  padding: 0 30px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  min-height: 100vh;

  &__input {
    margin-top: 50px;
    font-size: 3rem;
    width: 100%;

    input[type="text"] {
      border: 0;
      outline: none;
      background-color: inherit;
      font-size: inherit;
      width: 100%;
      color: $text-color;
      border-bottom: 2px solid #bbb6b6;
      text-decoration: none;
    }
  }

  &__result {
    display: flex;
    flex-direction: column;
    gap: 20px;

    &--header {
      display: flex;
      gap: 20px;
      text-transform: uppercase;
      font-weight: 600;
      border-bottom: 2px solid #bbb6b6;

      .header-title {
        cursor: pointer;

        &.active {
          border-bottom: 2px solid;
        }
      }
    }
    &--contents {
      @include mobile {
        overflow-x: auto;
      }

      .contents__result {
        display: flex;
        flex-wrap: wrap;

        gap: 10px;
        @include mobile {
          flex-wrap: unset;
        }
      }
    }
  }
}
.search-item__mobile {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  min-width: 190px;
  height: 248px;
}
.result-pc {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 5px;

  @include mobile {
    display: none;
  }
}
.result-mobile {
  display: none;
  @include mobile {
    display: flex;
  }
}
.search-item {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  width: 180px;
  height: 248px;
}
