@import "../scss/_variables.scss";
@import "../scss/_mixin.scss";

.signup-opacity {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(2, 0, 0, 0.445);
  z-index: 9999999;
}
.box-signup {
  max-width: 350px;

  max-height: 600px;

  @include widthHeight(100%, 100%);
  background-color: #fff;
  position: relative;
  @include center;
  border-radius: 30px;
  overflow: hidden;
}
.signup__header {
  color: black;
  font-weight: $font-weight;
  position: absolute;
  height: 70px;
  width: 100%;
  object-fit: cover;
  @include flex(center, space-around);

  &--title {
    padding-right: 150px;
  }
}
.signup__body {
  width: 90%;
  position: absolute;
  @include center;
  @include flex(center, center);
  flex-direction: column;

  &--button {
    margin-top: 10px;
    @include widthHeight(100%, 50px);
    background-color: #c9284d;
    @include flex(center, center);
    cursor: pointer;
    font-size: $font-size-first;
  }

  &--message {
    margin-top: 5px;
    @include flex(center, center);
    flex-direction: column;
    font-size: $font-size-first;
    font-weight: $font-weight;

    .message--error {
      display: none;
      color: red;
    }
    .message--info {
      color: blue;
    }
  }

  &--input {
    margin-top: 10px;
    @include widthHeight(100%, 40px);
    position: relative;
    input {
      font-size: $font-size-first;
      @include widthHeight(100%, 100%);
      color: #130d21;
      border-color: #6121ac;
      border-radius: 4px;
      font-weight: 700;
      padding: 5px;

      &:focus {
        outline: none;
      }
    }
  }
}
$field-container-padding: 5px;
$label-padding: $field-container-padding !default;

.field-container {
  position: relative;
  border: 1px solid #6121ac;
  height: 50px;
  width: 100%;
  padding-left: 12px;
  font-weight: 700;
  margin: 5px 0;
}

.field-placeholder {
  position: absolute;
  top: 50%;
  transform: translate(#{$label-padding}, -50%);
  pointer-events: none;
  transition: all 0.14s ease-in-out;
  font-size: $font-size-first;
  color: #adadad;
}

input.field-input {
  color: #000;
  border: none;
  padding: $label-padding;
  margin-top: 20px;
  font-size: $font-size-first;
  display: block;
  box-sizing: border-box;
  width: 100%;
  bottom: 0px;
  &:focus {
    outline: none;
  }
  &.c-fix,
  &:focus,
  &:not(:placeholder-shown) {
    border-color: transparent;
    ~ label {
      color: #646669;
      font-size: 11px;
      //Come up with a calculation for this
      top: calc(30% - 0.5rem);
      transform: translate(#{$label-padding}, 0%);
    }
  }

  &::-webkit-input-placeholder {
    color: transparent;
  }
  &::-moz-placeholder {
    color: transparent;
  }
  &:-ms-input-placeholder {
    color: transparent;
  }
}
.password-option {
  bottom: -11px;
  right: 7px;
  height: 100%;

  position: absolute;
  color: black;
}
