code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#root {
  position: relative;
  overflow: hidden;
}
.cursor-pointer {
  cursor: pointer;
}
.is-dpn {
  display: none;
}
.is-dpb {
  display: block;
}
.unset-padding {
  padding: unset;
}
