code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#root {
  position: relative;
  overflow: hidden;
}
.cursor-pointer {
  cursor: pointer;
}
.is-dpn {
  display: none;
}
.is-dpb {
  display: block;
}
.unset-padding {
  padding: unset;
}
.has-display {
  opacity: 1;
  visibility: visible;
}
.hasnot-display {
  opacity: 0;
  visibility: hidden;
}
.nav_is-hide {
  transform: translateX(-100%);
}
.nav_is-display {
  transform: translateX(0px);
}
