@use "./variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@mixin flex($alignItems, $justifyContent) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}
@mixin widthHeight($width, $height) {
  width: $width;
  height: $height;
}
@mixin threeDots() {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin center() {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin mobile {
  @media only screen and (max-width: $mobile-width) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: $tablet-width) {
    @content;
  }
}
