$body-bg-first: #5d2b3c;
$body-bg-second: #030102;
$nav-bg: #020001;
$nav-selected-bg: #0a1e13;
$main-color: #50d493;
$text-color: #ffffff;
$text-hover-color: #e0dede;
$text-second-color: #848283;
$music-player-bg: #232323;
$font-family: "Readex Pro", sans-serif;
$font-size-first: 14px;
$font-size-second: 12px;
$font-weight: 600;
$border-radius: 10px;
$mobile-width: 600px;
$tablet-width: 1024px;
